#ignore exe
*.exe

#ignore class
*.class
/JavaCodes/JavaProgrammingANMBajlurRahman/BicycleDemo/nbproject/private/
/JavaCodes/JavaProgrammingANMBajlurRahman/BicycleDemo/build/
CCodes/Provided Solution to Asaduzzaman Khaled/.vscode/tasks.json
*.json
